:root {
  --theme-colour-one: 255, 0, 0; /*red*/
  --theme-colour-two: 255, 255, 0; /*yellow*/
  --theme-colour-three: 0, 255, 0; /*green*/
  --theme-colour-four: 0, 0, 255; /*blue*/
  --alpha: 0.35;
  --black: black;
  background: var(--black);
}

@keyframes light-up-theme-one {
  0%,
  100% {
    background: rgba(var(--theme-colour-one));
    box-shadow: 0px 0px 20px 3px rgba(var(--theme-colour-one));
  }
  50% {
    background: rgba(var(--theme-colour-one), var(--alpha));
    box-shadow: 0px 0px 4px rgba(var(--theme-colour-one), var(--alpha));
  }
}

@keyframes light-up-theme-two {
  0%,
  100% {
    background: rgba(var(--theme-colour-two));
    box-shadow: 0px 0px 20px 3px rgba(var(--theme-colour-two));
  }
  50% {
    background: rgba(var(--theme-colour-two), var(--alpha));
    box-shadow: 0px 0px 4px rgba(var(--theme-colour-two), var(--alpha));
  }
}

@keyframes light-up-theme-three {
  0%,
  100% {
    background: rgba(var(--theme-colour-three));
    box-shadow: 0px 0px 20px 3px rgba(var(--theme-colour-three));
  }
  50% {
    background: rgba(var(--theme-colour-three), var(--alpha));
    box-shadow: 0px 0px 4px rgba(var(--theme-colour-three), var(--alpha));
  }
}

@keyframes light-up-theme-four {
  0%,
  100% {
    background: rgba(var(--theme-colour-four));
    box-shadow: 0px 0px 20px 3px rgba(var(--theme-colour-four));
  }
  50% {
    background: rgba(var(--theme-colour-four), var(--alpha));
    box-shadow: 0px 0px 4px rgba(var(--theme-colour-four), var(--alpha));
  }
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.lights {
  text-align: left; /* Keep the lights in a single line */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Crop any content that exceeds the viewport width */
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.light {
  display: inline-block;
  border-radius: 50%;
  height: 25px;
  width: 15px;
  position: relative;
  margin: 0 36px; /* Adds spacing between lights */
}

.light:first-of-type {
  margin-left: -75px; /* Move the first light off the left side */
}

.light::before {
  content: "";
  position: absolute;
  border: 1px solid #222;
  width: 10px;
  height: 10px;
  background: #222;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
}

.light::after {
  content: "";
  top: -24px;
  left: 60%;
  position: absolute;
  width: 90px;
  height: 28px;
  border-bottom: 3px solid #222;
  border-radius: 50%;
  z-index: -1;
}

.light:last-of-type::after {
  border: none;
}

.light.bulb-one {
  background: rgba(var(--theme-colour-one), var(--alpha));
}

.light.bulb-two {
  background: rgba(var(--theme-colour-two), var(--alpha));
}

.light.bulb-three {
  background: rgba(var(--theme-colour-three), var(--alpha));
}

.light.bulb-four {
  background: rgba(var(--theme-colour-four), var(--alpha));
}

.light-settings {
  background: white;
  color: #333;
  width: 500px;
  margin: 30px auto 0;
  padding: 20px;
  border-radius: 10px;
}

.light-settings .group {
  align-items: center;
  display: flex;
  margin: 15px 0;
}

.light-settings .group label {
  flex-basis: 80px;
}

.half-speed {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 75px;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 12px;
}

.reset-speed {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 75px;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 12px;
  margin-left: 10px;
}

.double-speed {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 75px;
  font-family: inherit;
  font-size: inherit;
  padding: 6px 12px;
  margin-left: 10px;
}

.checkbox-container {
  cursor: pointer;
  width: 43px;
  height: 20px;
  background: grey;
  border-radius: 100px;
  margin-right: 5px;
  position: relative;
  padding: 6px 12px;
  transition-duration: 0.4s;
}

.checkbox-container.active {
  background: black;
}

.checkbox-container.active::after {
  left: 50%;
}

.checkbox-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 100%;
  left: 5%;
  top: 9%;
  transition-duration: 0.4s;
}

.light-switch {
  opacity: 0;
  visibility: hidden;
}

.lights.on .light {
  animation-iteration-count: infinite;
}

.lights.on .light.bulb-one {
  background: var(--theme-colour-one);
  animation-name: light-up-theme-one;
  animation-duration: 1.23s;
  animation-timing-function: ease-in-out;
}
.lights.on .light.bulb-two {
  background: var(--theme-colour-two);
  animation-name: light-up-theme-two;
  animation-duration: 1.47s;
  animation-timing-function: ease-in-out;
}
.lights.on .light.bulb-three {
  background: var(--theme-colour-three);
  animation-name: light-up-theme-three;
  animation-duration: 1.75s;
  animation-timing-function: ease-in-out;
}
.lights.on .light.bulb-four {
  background: var(--theme-colour-four);
  animation-name: light-up-theme-four;
  animation-duration: 2.59s;
  animation-timing-function: ease-in-out;
}
